ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

body {
    background-color: #eaeff1; /* Azul claro */
    color: #000000; /* Preto, cor padrão do texto */
}

h1 {
    color: #1334f0f5; /* Amarelo */
}

#error-message {
    background-color: #f8d7da; /* Cor de fundo suave para destacar a mensagem */
    color: #721c24; /* Cor do texto para a mensagem de erro */
    border: 1px solid #f5c6cb; /* Borda para destacar a mensagem */
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
    line-height: 1.8; /* Aumenta o espaçamento entre linhas */
}

#error-message p {
    margin: 10px 0; /* Adiciona espaçamento entre parágrafos */
}

input[type="text"] {
    width: 100%;
    max-width: 250px; /* Aumenta o tamanho máximo do campo de pesquisa */
    padding: 15px; /* Aumenta o preenchimento interno do campo de pesquisa */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; /* Aumenta o tamanho da fonte no campo de pesquisa */
}

button {
    padding: 15px 25px; /* Aumenta o preenchimento interno do botão */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 20px; /* Aumenta o tamanho da fonte no botão */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
